<%- include('../_layouts/adminheader') %>

<div class="container">
  <h2 class="page-title">Categories</h2>

  <a href="/admin/categories/add-category" class="btn btn-primary"
    >Add a new category</a
  >

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% categories.forEach(function(cat){ %>
      <tr>
        <td><%= cat.title %></td>
        <td>
          <a href="/admin/categories/edit-category/<%= cat.id %>">Edit</a>
        </td>

        <td>
          <a
            class="confirmDeletion"
            href="/admin/categories/delete-category/<%= cat.id %>"
            >Delete</a
          >
        </td>
      </tr>

      <%});%>
    </tbody>
  </table>

  <br /><br />
</div>

<%- include('../_layouts/adminfooter') %>
